.navbar button {
    border: none;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    color: white;
}

#home-b {
    padding-left: 20px;
}

.pi-comment {
    color: white;
}

.navbar:first-child {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar button:hover {
    color: var(--midgray);
}

.navbar {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid var(--darkgreen);
    background-color: var(--green);
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}