:root {
    font-family: inherit;
}

.closeButton {
    margin-bottom: 100px;
    margin-left: 30px;
    margin-top: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: inherit;
}

.postCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    border: 2px solid var(--darkgreen);
    border-radius: 5px;
    background-color: var(--gray);
}

input, textarea {
    border: none;
    background-color: inherit;
    border-bottom: 3px solid var(--midgray);
    font-size: 20px;
    width: 90%;
    padding-left: 10px;
    box-sizing: border-box;
}

input {
    font-family: inherit;
}

textarea {
    height: 150px;
    resize: none;
}

input {
    padding-bottom: 10px;
}

#postId > input:first-of-type {
    margin-top: 40px;
}

.buttonContainer > button {
    font-size: 30px;
}

.buttonContainer {
    margin: 40px;
}

button {
    font-family: inherit;
}